<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>
<body>

<h2>Table</h2>

<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Email address </th>
    <th>Phone Number</th>
    <th>State</th>
    <th>City</th>
    <th>Skills</th>
    <th>Experience</th>
    <th>Reference</th>
    <th>Choose File</th>
    <th>Address</th>




  </tr>
  {% for i in show %}
  <tr>
    <td>{{i.firstname}}</td>
    <td>{{i.secondname}}</td>
    <td>{{i.email}}</td>
    <td>{{i.phone}}</td>
    <td>{{i.state}}</td>
    <td>{{i.city}}</td>
    <td>{{i.skills}}</td>
    <td>{{i.reference}}</td>
    <td>{{i.file}}</td>
    <td>{{i.address}}</td>



  </tr>
  {% endfor %}

</table>

</body>
</html>
</body>
</html>